/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

body {
	font-family: Courier, serif;
}


/*****************************************************
*Header CSS
*****************************************************/
header {
	background: gray;
	color: #55ff2f;
	display: inline;
}

/*****************************************************
*WELCOME IMAGE
*****************************************************/
.welcomepic {
	display: inline-block;
	margin: auto;
}

/*****************************************************
*Instructions
*****************************************************/
.instructions-wrapper {
	border: 2px solid black;
	padding: 1em;
	margin: 2em;
}

.instructions-content {
	display: inline;
}

ol {
	float: left;
}

img[src="images/captain-janeway.png"] {
	height: 200px;
	width: 267.6px;
	padding: 1em;
}
/*****************************************************
*ABOUT ME
*****************************************************/
.about-me {
	color: white;
	background: blue;
	padding: 2em;
	font-family: Courier, serif;
}

img[src="images/stunning.jpg"] {
	float: left;
	height: 185px;
	width: 256px;
	padding: 2em;
}
/*****************************************************
*PROFESSIONAL SKILLZ
*****************************************************/
section:nth-child(4) > div > h2 {
	text-align: right;
}

table {
	margin-bottom: 2em;
	display: table;
}

th {
	font-weight:bold;
}

th, td {
	background: gray;
	border: 1px solid white;
	color: #55ff2f;
	padding: 1.5em;
	text-align: left;
}

td:nth-child(1) {
	width: 10em;
}

td:nth-child(2) {
	width: 20em;
}

td:nth-child(3) {
	width: 40em;
}



/*****************************************************
*CONTACT FORM
*****************************************************/
.contact-form {
	background: gray;
	padding: 2em;
}

.form-wrapper {
	background: forestgreen;
	color: #55ff2f;
	padding: 1em;
}

form > div {
	display: block;
	font-size: 14px;
}

form > div > label {
	display: block;
}

button {
	background: #55ff2f;
	color: black;
	padding: 0.5em 2em 0.5em 2em;
	outline: none;
}

/*****************************************************
*FOOTER
*****************************************************/
footer {
	background: black;
	color: white;
	text-align: center;
	padding-top: 1em;
}